<!DOCTYPE html>
<html lang="en" translate="no">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta
      name="viewport"
      content="width=device-width,initial-scale=1.0, shrink-to-fit=no"
    />
    <meta name="google" content="notranslate" />
    <meta name="description" content="Become the owner of one pixel" />
    <meta property="og:title" content="Become the owner of one pixel" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="https://www.thesinglepixelowner.com/" />
    <meta property="og:description" content="Become the owner of one pixel." />
    <meta
      property="og:image"
      content="https://www.thesinglepixelowner.com/logo1024x540.jpg"
    />
    <meta
      property="og:image"
      content="https://www.thesinglepixelowner.com/logo.jpg"
    />
    <meta property="fb:app_id" content="587969222119202" />
    <link rel="icon" href="<%= BASE_URL %>favicon.ico" />
    <title>The single pixel owner</title>
  </head>
  <body>  
    <h1 hidden>Become the owner of one pixel</h1>
    <h2 hidden>The Single Pixel consists of an image of 1 million of pixels.</h2>
    <h2 hidden>Each user can get only one pixel, which can be turned on/off.</h2>
    <h2 hidden>Every time an user turns the pixel on/off, it modifies the image in real time.</h2>
    <noscript>
      <strong
        >We're sorry but the one pixel owner doesn't work properly without
        JavaScript enabled. Please enable it to continue.</strong>
    </noscript>
    <div id="app"></div>
    <!-- built files will be auto injected -->
  </body>
</html>
