<template lang="pug">
    .about
      .logo
        img(src='/logo.png', :class="{ inverted: false }")
      carousel
      .share SHARE YOUR EXPERIENCE IN FACEBOOK
      .button-bar.contact
        a.static-plain-btn.border(href="https://www.facebook.com/thesinglepixelowner", target="_blank", @click='onGoToFacebook') FACEBOOK 
      .created CREATED BY
      .creator CARLOS FARINA
      .button-bar.terms
          a.static-plain-btn(href="/privacy.html", target="_blank") PRIVACY POLICE
              
</template>

<script>
import carousel from "./carousel";

export default {
  components: { carousel },
  methods: {
    onGoToFacebook(){
      this.$ua.trackEvent("about", "facebook", "Go to Facebook");
    }
  }
};
</script>

<style scoped lang="scss">
.about {
  font-size: 1rem;
  text-align: center;

  .logo {
    display: flex;
    justify-content: center;
    padding-bottom: 1rem;
    img {
      display: flex;
      width: 13rem;
      filter: invert(100%);
    }
  }

  .share {
    padding-top: 2rem;
    font-size: 1rem;
  }

  .created {
    font-size: 0.6rem;
    padding-top: 2rem;
    padding-bottom: 0.5rem;
  }

  .button-bar {
    justify-content: center;
    display: flex;
    flex-direction: row;
    .static-plain-btn {
      padding-top: 0.6rem;
      background-color: #000;
      color: #fff;

      &:hover {
        background-color: #fff;
        color: #000;
      }
    }
    &.contact {
      padding-top: 1.5rem;
      a {
        font-size: 0.8rem;
      }
    }
    &.terms {
      padding-top: 1.5rem;
      font-size: 0.8rem;
      .static-plain-btn {
        display: flex;
        align-items: center;
        justify-content: center;

        height: 1rem;
        padding: 0.3rem;
      }
      a {
        font-size: 0.6rem;
      }
    }
  }

  a {
    color: #fff;
    text-decoration: none;
  }
}
</style>
