<template lang="pug">
  carousel.carousel(:per-page="1", :mouse-drag="false", :autoplay='true', :autoplayHoverPause='true', :autoplayTimeout='4000', :loop='true')
    slide
      .item.intro THE SINGLE PIXEL CONSISTS OF AN IMAGE OF 1 MILLION OF PIXELS
    slide
      .item.user EACH USER CAN GET ONLY ONE PIXEL, WHICH CAN BE TURNED ON/OFF
    slide
      .item.every EVERY TIME AN USER TURNS THE PIXEL ON/OFF, IT MODIFIES THE IMAGE IN REAL TIME
</template>

<script>
import { Carousel, Slide } from "vue-carousel";

export default {
  components: { Carousel, Slide },

  mounted() {
  },
};
</script>

<style scoped lang="scss">
.carousel {
  padding: 0rem 2rem;
  font-size: 1rem;
  line-height: 1.5rem;
}

.item {
  padding-top: 1rem;
}

</style>
