<template lang="pug">
  .info(v-if="user")
    #cert-container
      .certificate
        .logo
          img(src='/logo.png', :class="{ inverted: !pixel.isOn }")
        .certificies.text CERTIFIES
        .user.text {{user.displayName}}
        .owner.text IS THE OWNER OF THE PIXEL
        .pixel.text {{pixel.n}}
        .located.text LOCATED IN
        .xy.text X:{{pixel.x}} - Y:{{pixel.y}}
        .zoom
          #picture-container
            svg(height = "50px", width = "50px")
              rect( v-for="p in pixelZoom", :key="p.n", :x='p.zx*10', :y='p.zy*10', width='10', height='10', :fill='p.isOn ? "black" : "white"')

    .bar
      .static-plain-btn.border(@click="onSave") SAVE
      .static-plain-btn.border(@click="onPicture") PICTURE
</template>

<script>
import modal from "./modal";
import domtoimage from "dom-to-image";
import { saveAs } from "file-saver";

export default {
  props: ["pixel", "user", "pixelZoom"],
  components: { modal },
  data() {
    return {
      showInfo: false,
    };
  },
  methods: {
    onSave() {
      let el = document.getElementById("cert-container");
      let oldWidth = el.style.width;
      el.style.width = "25vw";
      this.downloadAsImg(el, "certificate.png", 5).then(() => {
        el.style.width = oldWidth;
      });
      this.$ua.trackEvent("certificate", "save", "Save certificate");
    },

    onPicture() {
      this.downloadAsImg(
        document.getElementById("picture-container"),
        "picture.png",
        25
      );
      this.$ua.trackEvent("certificate", "picture", "Save picture");
    },

    downloadAsImg(el, filename, scale) {
      if (scale != undefined)
        var props = {
          width: el.clientWidth * scale,
          height: el.clientHeight * scale,
          style: {
            transform: "scale(" + scale + ")",
            "transform-origin": "top left",
          },
        };
      return domtoimage
        .toBlob(el, props == undefined ? {} : props)
        .then(function(blob) {
          window.saveAs(blob, filename == undefined ? "image.png" : filename);
        });
    },
  },
};
</script>

<style scoped lang="scss">
.bar {
  padding-top: 25px;
  display: flex;
  justify-content: space-between;

  .plain-btn {
    background-color: #000;
    color: #fff;

    &:hover {
      background-color: #fff;
      color: #000;
    }
  }
}
.info {
  // max-width: 400px;
  display: flex;
  flex-direction: column;
  font-size: 10pt;
  justify-content: center;
  max-width: 380px;
  background-color: black;
  #cert-container {
    background-color: black;
  }
  .certificate {
    display: flex;
    flex-direction: column;
    font-size: 10pt;
    justify-content: center;
    background-color: black;
    padding-bottom: 15px;
    .logo {
      display: flex;
      justify-content: center;
      padding: 15px;
      img {
        display: flex;
        max-width: 22vw;
        width: auto;
        height: auto;
        filter: invert(100%);
      }
    }

    .text {
      text-align: center;
      padding-bottom: 10px;
    }

    .certificies {
      font-size: 1.5vw;
    }

    .user {
      text-transform: uppercase;
      font-size: 2.7vw;
    }

    .owner {
      font-size: 1.53vw;
    }
    .pixel {
      font-size: 6.4vw;
    }
    .located {
      font-size: 1.5vw;
    }
    .xy {
      font-size: 2.8vw;
      padding-bottom: 10px;
    }

    .zoom {
      display: flex;
      align-self: center;
      border: 1px solid white;
    }
  }

  .bar {
    display: flex;
    padding: 1rem;
  }
}

@media (max-width: 400px) {
  #cert-container {
    margin-top: 3rem;
    transform: scale(1.7);
  }

  .info {
    .bar {
      padding-top: 7rem;
    }
  }
}

@media (max-width: 600px) {
  #cert-container {
    margin-top: 3rem;
    transform: scale(1.6);
  }

  .info {
    .bar {
      padding-top: 7rem;
    }
  }
}
@media (min-width: 1600px) {
  #cert-container {
    transform: scale(0.8);
  }
}
@media (min-width: 2500px) {
  #cert-container {
    transform: scale(0.4);
  }
}
</style>
