<template lang="pug">
  .facebook-login
    button(@click='buttonClicked')
      i.spinner(v-if='false')
      img(:src='icon', v-if='true')
      | {{ getButtonText }}

</template>

<script>
// Helpers
import { loadFbSdk, getFbLoginStatus, fbLogout, fbLogin } from "./helpers.js";
// Resources
import icon from "./icon.png";
export default {
  name: "facebook-login",
  props: {
    appId: {
      type: String,
      required: true,
    },
    version: {
      type: String,
      default: "v2.10",
    },
    logoutLabel: {
      type: String,
      default: "LOG OUT",
    },
    loginLabel: {
      type: String,
      default: "LOG IN TO FACEBOOK",
    },
    loginOptions: {
      type: Object,
      default: function() {
        return {
          scope: "email",
        };
      },
    },
  },
  data() {
    return {
      isWorking: false,
      isConnected: false,
      icon,
    };
  },
  mounted() {
    this.isWorking = true;
    loadFbSdk(this.appId, this.version)
      .then(getFbLoginStatus)
      .then((response) => {
        if (response.status === "connected") {
          let token = localStorage.getItem("jwt");
          if (token != null) {
            this.isConnected = true;
          } else {
            fbLogout().then((response) => {
              this.isWorking = false;
              this.isConnected = false;
            });
          }
        } else {
          localStorage.removeItem("jwt");
        }
        this.isWorking = false;
        /** Event `get-initial-status` to be deprecated in next major version! */
        this.$emit("get-initial-status", response);
        this.$emit("sdk-loaded", {
          isConnected: this.isConnected,
          FB: window.FB,
        });
      });
  },
  computed: {
    getButtonText() {
      switch (this.isConnected) {
        case true:
          return this.logoutLabel;
        case false:
          return this.loginLabel;
        default:
          return "this is default";
      }
    },
  },
  methods: {
    buttonClicked() {
      this.$emit("click");
      if (this.isConnected) {
        this.logout();
      } else {
        this.login();
      }
    },
    login() {
      this.isWorking = true;
      fbLogin(this.loginOptions).then((response) => {
        if (response.status === "connected") {
          this.isConnected = true;
        } else {
          this.isConnected = false;
        }
        this.isWorking = false;
        this.$emit("login", {
          response,
          FB: window.FB,
        });
      });
    },
    logout() {
      this.isWorking = true;
      fbLogout().then((response) => {
        this.isWorking = false;
        this.isConnected = false;
        this.$emit("logout", response);
      });
    },
  },
};
</script>

<style scoped lang="scss">
.facebook-login {
  /* box-sizing: border-box; */
}
.facebook-login * {
  /* box-sizing: inherit; */
}
.facebook-login {
  button {
    font-family: vcr_osd_monoregular;
    border: none;
    background: transparent;
    color: white;
    position: relative;
    line-height: 20px;
    padding: 5px 10px 5px 30px;
    border: solid 1px white;
    cursor: pointer;
    outline: none;
    &:hover {
      color: black;
      background: white;

      img {
        filter: invert(0%);
      }
    }
    &:focus {
      color: black;
      background: white;

      img {
        filter: invert(0%);
      }
    }
  }

  .spinner {
    left: 5px;
    width: 20px;
    height: 20px;
    display: block;
    border-radius: 50%;
    position: absolute;
    border: 5px solid white;
    border-top-color: black;
    animation: facebook-login-spin 2s linear infinite;
  }

  img {
    position: absolute;
    filter: invert(100%);
    top: 6px;
    left: -3px;
    width: 40px;
  }
}

button {
  
}
@keyframes facebook-login-spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
</style>
