<template lang="pug">
  div.main
    #left-panel.left(@click="onLeftClick")
      #main-logo.logo
        img(src='/logo.png', :class="{ inverted: !isOn }")
      .button-box(v-show="!loading")
        #switch-button.pixel-btn(v-if="isLogged", @click.stop="togglePixel", :class="{ animate: !toggleClicked }") {{toggleButtonLabel}}
        .pixel-btn.get-pixel-btn(v-if="!isLogged", @click="onGetPixel") GET A PIXEL
      //- input.x-input(@keyup.enter='onXYEnter', v-model="manualX") 
      //- input.y-input(@keyup.enter='onXYEnter', v-model="manualY") 
    #center.center(v-on:scroll="onCanvasScroll")
      .pin-wrap(v-if="showPin")
        pin(:user='user', :pixel='pixel', :selectedPixel='selectedPixel', :zoom='zoom', :scrollLeft='scrollLeft')

      .svg-wrap(v-for="(p, k) in toggled",  :key="k")
        svg(height = "1000px", width = "1000px", :style="{ left: (-1*scrollLeft) + 'px' }")
          circle(:cx='p.x', :cy ='p.y', r = "0px", :stroke = 'p.isOn ? "#FFFFFF" : "#000000"', stroke-width = "2px",  fill = "none")
            animate(attributeName="r", 
                  begin="0s", 
                  dur="3s", 
                  repeatCount="1", 
                  from="0%", 
                  to="200%", 
                  
                  calcMode="spline"
                  keySplines="0.6 0 1 0.5"
                  values="0;200%"

                  :data-key='k')
      canvas#image.pixel-image(@click="onCanvasClick")
    .right
     
    .menu(v-show="!loading")
      #menu-plus-btn.plain-btn.plus(@click="onShowMenu", :class="{ 'open' : showMenu}")
        .box
      transition(name='fade')
        .list(v-if="showMenu")
          .plain-btn(v-if="isLogged", @click="onLocalize") LOCALIZE
          .plain-btn(v-if="isLogged", @click="onShowCertificate") CERTIFICATE
          .plain-btn(v-if="isLogged", @click="onShowShare") SHARE
          .plain-btn(v-if="isLogged", @click="onShowTour") TOUR
          .plain-btn(v-if="isLogged", @click="onShowWellcome") WELLCOME
          .plain-btn(@click="onShowAbout") ABOUT
          .logout.plain-btn(v-if="isLogged", @click="onLogout") LOGOUT
    modal(v-show="showCertificate", @close="showCertificate = false")
      .title(slot="header") 
      div(slot="body")
        certificate(:user='user', :pixel='pixel', :pixelZoom='pixelZoom')
    modal(v-if="showLogin", @close="showLogin = false")
      .title(slot="header") 
      div(slot="body")
        login
          div(slot="buttons")
            facebook-login(
                  class="button fb-button"
                  appId="587969222119202"
                  block=true
                  :loginOptions={ scope: 'email' }
                  @login="onLogin"
                  @sdk-loaded="sdkLoaded")
    modal(v-if="showMessage", @close="showMessage = false")
      .title(slot="header") WELLCOME AGAIN
      .message(slot="body") YOU ARE THE OWNER OF THE PIXEL {{pixel.n}}. ENJOY IT!
    transition(name="bounce")
      wellcome(v-if="showWellcome", :pixel='pixel', @wellcome-end="onWellcomeEnd")
    modal(v-if="showAbout", @close="showAbout = false")
      div(slot="header")
      div(slot="body")
        about
    modal(v-if="showShare", @close="showShare = false")
      div(slot="header") SHARE YOUR EXPERIENCE
      div(slot="body")
        share(:user='user', :pixel='pixel')
    tour(v-if="isLogged")
      
</template>
<script>
import Vue from "vue";
import facebookLogin from "./facebook-login";
import share from "./share";
import about from "./about";
import modal from "./modal";
import login from "./login";
import tour from "./tour/tour";
import certificate from "./certificate";
import pin from "./pin";
import wellcome from "./wellcome";
import Pusher from "pusher-js"; // import Pusher
import VueJwtDecode from "vue-jwt-decode";
import { fbLogout, fbLogin } from "./helpers.js";

const $http = Vue.prototype.$http;
const CIRCLES_EXPIRATION_TIME = 30000;
const MAX_CIRCLES_AT_SAME_TIME = 50;

export default {
  data() {
    return {
      image: {},
      user: null,
      pixel: null,
      pixelSize: 1,
      isOn: false,
      login: {
        email: "",
        password: "",
      },
      toggled: [],
      FB: undefined,
      isConnected: false,
      showLogin: false,
      showWellcome: false,
      isLogged: false,
      showMessage: false,
      showMenu: false,
      showCertificate: false,
      scrollLeft: 0,
      toggleClicked: false,
      showShare: false,
      showAbout: false,
      lastAddedTime: new Date().getTime(),
      toggleButtonLabel: "PUSH HERE",
      wellcome: wellcome,
      loading: true,
      showPin: false,
      selectedPixel: {},
      zoom: [],
      pixelZoom: [],
      manualX: 0,
      manualY: 0,
    };
  },
  components: {
    facebookLogin,
    modal,
    share,
    wellcome,
    about,
    pin,
    certificate,
    tour,
    login,
  },

  watch: {
    "pixel.isOn": function(newVal, oldVal) {
      this.isOn = this.pixel.isOn;
      let mColor = this.pixel.isOn ? "#FFFFFF" : "#000000";
      let sColor = this.pixel.isOn ? "#000000" : "#FFFFFF";
      document.documentElement.style.setProperty("--mColor", mColor);
      document.documentElement.style.setProperty("--sColor", sColor);
    },
  },

  methods: {
    enter: function(el, done) {
      done();
    },

    onXYEnter(){
      this.updatePin(new Number(this.manualX), new Number(this.manualY))
    },

    onLeftClick() {
      this.showMenu = false;
      this.showPin = false;
      this.$ua.trackEvent("left", "click", "Click on left");
    },

    onGetPixel(){
      this.showLogin = true
      this.$ua.trackEvent("left", "getPixel", "Click on get pixel");
    },

    onCanvasClick(e) {
      this.showMenu = false;
      this.showPin = true;

      const rect = this.canvas.getBoundingClientRect();
      const x = Math.floor(e.clientX - rect.left);
      const y = Math.floor(e.clientY - rect.top);
      this.updatePin(x, y);
      this.$ua.trackEvent("image", "click", "Click on image");
    },

    async scrollImageTo(x, y) {
      this.showPin = true;
      let sy1 = window.scrollY;
      let center = document.querySelector(".center");
      let sx1 = center.scrollLeft;
      let sy2 = y - 200;
      let offsetx = x > 500 ? 200 : 100;
      let sx2 = x - offsetx;
      let dify = Math.abs(sy2 - sy1);
      let difx = Math.abs(sx2 - sx1);
      let div = dify > difx ? dify : difx;
      let yAlfa = (sy2 - sy1) / div;
      let xAlfa = (sx2 - sx1) / div;
      for (let i = 0; i < div - 1; ) {
        window.scroll(0, sy1 + yAlfa * i);
        center.scrollLeft = sx1 + xAlfa * i;
        await this.sleep(10);
        if (i < div / 2) {
          if (i == 0) {
            i = 1;
          } else {
            i = i * 1.2;
          }
        } else {
          i += (div - i) * 0.1;
        }
      }
      let interval = 10;
    },

    updatePin(x, y) {
      const bound = 2;
      const max = 999;
      const limit = max - 2 * bound - 1;
      let x1 = 0;
      let x2 = 0;
      let y1 = 0;
      let y2 = 0;
      if (x < bound) {
        x1 = 0;
        x2 = 2 * bound;
        if (y < bound) {
          y1 = 0;
          y2 = 2 * bound;
        } else if (y > limit) {
          y1 = limit;
          y2 = max;
        } else {
          y1 = y - bound;
          y2 = y + bound;
        }
      } else if (x > limit) {
        x1 = limit;
        x2 = max;
        if (y < bound) {
          y1 = 0;
          y2 = 2 * bound;
        } else if (y > limit) {
          y1 = limit;
          y2 = max;
        } else {
          y1 = y - bound;
          y2 = y + bound;
        }
      } else {
        x1 = x - bound;
        x2 = x + bound;
        y1 = y - bound;
        y2 = y + bound;
      }

      let zx = 0;
      let zy = 0;
      this.zoom = [];
      for (let ix = x1; ix <= x2; ix++) {
        for (let iy = y1; iy <= y2; iy++) {
          var data = this.canvaContext.getImageData(ix, iy, 1, 1).data;
          let mine = this.pixel.x == ix && this.pixel.y == iy && this.pixel.id != -1;
          let newPixel = {
            isOn: data[0] != 0,
            x: ix,
            y: iy,
            zx: zx,
            zy: zy,
            n: iy * 1000 + ix,
            mine: mine,
          };
          this.zoom.push(newPixel);
          if (x == ix && y == iy) {
            this.selectedPixel = newPixel;
          }
          zy++;
        }
        zx++;
        zy = 0;
      }
      if (x == this.pixel.x && y == this.pixel.y) {
        this.pixelZoom = this.zoom;
      }
    },

    async goToCurrentPixel(){
      this.updatePin(this.pixel.x, this.pixel.y);
      await this.sleep(500);
      this.scrollImageTo(this.pixel.x, this.pixel.y);
    },

    onCanvasScroll(e) {
      this.scrollLeft = e.target.scrollLeft;
    },

    async getImage() {
      try {
        let token = localStorage.getItem("jwt");
        let userId = "";
        if (token) {
          let decoded = VueJwtDecode.decode(token);
          userId = decoded.user.id;
        }
        var canvas = document.getElementById("image");
        var ctx = canvas.getContext("2d");
        this.canvaContext = ctx;
        this.canvas = canvas;
        this.canvas.width = 1000;
        this.canvas.height = 1000;
        this.load();
        let response = await $http.get("/image/" + userId);
        this.loading = false;
        await this.sleep(50); //Wait for load process stop
        this.image = response.data.image;
        this.pixel = response.data.pixel;
        this.user = response.data.user;
        this.isLogged = this.user != null;

        this.canvas.width = this.image.width;
        this.canvas.height = this.image.height;
        this.drawFrame();
        this.goToCurrentPixel()
        this.subscribe();
      } catch (error) {
        // console.log(error)
        this.loading = false;
        // this.logout();
      }
    },

    drawFrame() {
      if (this.lastRender != null && Date.now() < this.lastRender + 30)
        return requestAnimationFrame(this.drawFrame);
      // var imageData = this.getImageData();

      // this.updateImageData(imageData);

      // this.canvaContext.putImageData(imageData, 0, 0);
      this.canvaContext.clearRect(0, 0, this.canvas.width, this.canvas.height);
      for (var i = this.circles.length - 1; i >= 0; --i) {
        this.circ(this.circles[i].x, this.circles[i].y, this.circles[i].radius, this.circles[i].colour);
        this.circles[i].radius += 6;
        if (this.circles[i].radius > this.canvas.width)
          this.circles.splice(i, 1);
      }
      this.lastRender = Date.now();
      requestAnimationFrame(this.drawFrame);
    },

    circ(x, y, rad, c) {
      // this.canvaContext.clearRect(0, 0, this.canvas.width, canvas.height);
      //ctxS.fillStyle = c;
      this.canvaContext.beginPath();
      this.canvaContext.arc(x, y, rad, 0, 2 * Math.PI, false);
      this.canvaContext.closePath();
      this.canvaContext.stroke();
    },

    updateImageData(imageData) {
      let i = 0;
      let k = 0;
      let pixelOn = false;
      let number = 0;
      for (let element of this.image.buffer) {
        let mask = 1;
        for (let j = 0; j < 32; j++) {
          pixelOn = (mask & element) != 0;
          number = pixelOn ? 255 : 0;
          imageData.data[i] = number;
          imageData.data[i + 1] = number;
          imageData.data[i + 2] = number;
          imageData.data[i + 3] = 255;
          i += 4;
          k += 1;
          mask = mask << 1;
          if (k == this.length) {
            return;
          }
        }
      }
    },

    randomNumber(min, max) {
      return Math.floor(Math.random() * max) + min;
    },

    logout() {
      let token = localStorage.getItem("jwt");
      if (token) {
        localStorage.removeItem("jwt");
      }
      this.$ua.trackEvent("user", "logout", "Logout user");
      location.reload();
    },

    async onLogin() {
      this.showLogin = false;
      try {
        if (FB.getAuthResponse().accessToken) {
          let response = await $http.post("/auth/facebook", {
            access_token: FB.getAuthResponse().accessToken,
            pixel: this.pixel.id,
          });
          let data = response.data;
          let token = response.data.token;
          this.user = data.user;
          this.isLogged = true;
          this.pixel = data.pixel;
          localStorage.setItem("jwt", token);
          this.$http.defaults.headers.common["Authorization"] = token;
          if (token) {
            if (data.firstTime) {
              this.showWellcome = true;
              this.$ua.trackEvent("user", "login", "Login user");
              this.$ua.trackEvent("pixel", "get", "Get pixel");
            } else {
              this.showMessage = true;
              this.$ua.trackEvent("user", "login", "Login user");
              this.goToCurrentPixel()
            }
          }
        }
      } catch (error) {
        alert("Login error. Please, try again. Thank You.");
        this.logout();
      }
    },

    onShowShare() {
      this.showShare = true;
      this.showMenu = false;
      this.$ua.trackEvent("menu", "share", "Open Share");
    },

    onShowCertificate() {
      this.showCertificate = true;
      this.showMenu = false;
      this.$ua.trackEvent("menu", "certificate", "Open Certificate");
    },

    onShowWellcome() {
      this.showWellcome = true;
      this.showMenu = false;
      this.$ua.trackEvent("menu", "wellcome", "Open Wellcome");
    },

    onShowAbout() {
      this.showAbout = true;
      this.showMenu = false;
      this.$ua.trackEvent("menu", "about", "Open About");
    },

    onLogout() {
      this.showMenu = false;
      if (confirm("Are you sure you want to log out?")) {
        this.logout();
      }
    },

    onShowMenu() {
      this.showMenu = !this.showMenu;
      this.$ua.trackEvent("menu", "open", "Open menu");
    },

    onShowTour() {
      this.$tours["pixelTour"].start();
      this.showMenu = false;
      this.$ua.trackEvent("menu", "tour", "Show tour");
    },

    async onWellcomeEnd() {
      this.showWellcome = false;
      await sleep(500);
      this.$tours["pixelTour"].start();
    },

    async onLocalize() {
      this.selectedPixel = this.pixel;
      this.updatePin(this.pixel.x, this.pixel.y);
      this.scrollImageTo(this.pixel.x, this.pixel.y);
      this.showMenu = false;
      this.$ua.trackEvent("menu", "localize", "Localize pixel");
    },

    sdkLoaded(payload) {
      this.isConnected = payload.isConnected;
      this.FB = payload.FB;
    },

    subscribe() {
      let pusher = new Pusher("af8979b12c1f60820d77", { cluster: "us2" });
      pusher.subscribe("topo");
      pusher.bind("toggle", (data) => {
        this.onToggle(data);
      });
      this.pusher = pusher;
    },

    async load() {
      if (!this.loading) {
        return;
      }
      var imageData = this.getImageData();

      for (let i = 0; i < 500; i++) {
        let n = parseInt(Math.random() * 999999);
        let i = n * 4;
        let number = 255;
        imageData.data[i] = number;
        imageData.data[i + 1] = number;
        imageData.data[i + 2] = number;
        imageData.data[i + 3] = 255;
        if (!this.loading) {
          return;
        }
      }

      if (this.loading) {
        this.canvaContext.putImageData(imageData, 0, 0);
        await this.sleep(20);
        this.load();
      }
    },

    getImageData() {
      return this.canvaContext.getImageData(
        0,
        0,
        this.canvas.width,
        this.canvas.height
      );
    },

    async togglePixel() {
      this.$ua.trackEvent("pixel", "toggle", "Toggle pixel", this.pixel.n);
      this.pixel.isOn = !this.pixel.isOn
      this.toggle({ ...this.pixel });
      try {
        let response = await $http.put("/image/toggle", {
          pixel: this.pixel.n,
          pusherSessionID: this.pusher.sessionID
        });
      } catch (error) {
        this.pixel.isOn = !this.pixel.isOn;
        // alert("Error toggling pixel. Please try again.");
      }
    },

    async onToggle(data) {
      for (const pixel of data.pixels) {
        if (data.pusherSessionID != this.pusher.sessionID) {
          this.toggle(pixel);
        }
      }
    },

    sleep(ms) {
      return new Promise((resolve) => setTimeout(resolve, ms));
    },

    toggle(pixel) {
      let imageData = this.getImageData();
      let key = Math.floor(Math.pow(2, 32) * Math.random());
      pixel.key = key;
      pixel.time = new Date().getTime();
      if (this.pixel.n == pixel.n) {
        this.toggleClicked = true;
        this.pixel.isOn = pixel.isOn;
        this.toggleButtonLabel = this.pixel.isOn ? "OFF" : "ON";
        this.toggled.push(pixel);
      } else if (pixel.time - this.lastAddedTime > 500) {
        this.toggled.push(pixel);
        this.lastAddedTime = pixel.time;
      }
      let zoomPixel = this.zoom.find((p) => p.n == pixel.n);
      if (zoomPixel) {
        zoomPixel.isOn = pixel.isOn;
      }
      let data = this.canvaContext.getImageData(pixel.x, pixel.y, 1, 1).data;
      let isOn = data[0] != 0
      if(isOn != pixel.isOn){
        this.canvaContext.fillStyle = pixel.isOn ? "white" : "black";
        this.canvaContext.fillRect(pixel.x, pixel.y, 1, 1);
      }
    },

    clear() {
      if (this.toggled.length == 0) return;
      let current = new Date().getTime();
      do {
        if (current - this.toggled[0].time > CIRCLES_EXPIRATION_TIME) {
          this.toggled.pop();
        } else {
          return;
        }
      } while (this.toggled.length > 0);
    },

    displayWellcome() {
      this.showWellcome = true;
    },
  },

  mounted() {
    this.getImage();
    setInterval(this.clear, CIRCLES_EXPIRATION_TIME);
  },
};
</script>

<style lang="scss" src="../css/index.scss" />
