<template lang="pug">
.login-info(v-bind:style="{ height : loginHeight}")
    .logo
      img(src='/logo.png', :class="{ inverted: false }")
    carousel
    .register REGISTER AND GET YOUR PIXEL  
    .buttons
        slot(name='buttons')
    .button-bar
        a.static-plain-btn(href="/privacy.html", target="_blank") PRIVACY POLICE
    
</template>

<script>
import carousel from "./carousel";

export default {
  data() {
    return {
      loginHeight: 0,
    };
  },
  components: { carousel },
  methods: {},
  mounted(){
    this.loginHeight = "23rem"
  }
};
</script>

<style scoped lang="scss">
.login-info {
  text-align: center;

  .logo {
    display: flex;
    justify-content: center;
    padding-bottom: 1rem;
    img {
      display: flex;
      width: 10rem;
      filter: invert(100%);
    }
  }

  .register {
    padding-top: 1rem;
    font-size: 0.8rem;
  }
}

.buttons {
  padding-top: 1rem;
}

.button-bar {
  justify-content: center;
  display: flex;
  flex-direction: row;
  padding-top: 2rem;
  .static-plain-btn {
    height: 1.5rem;
    background-color: #000;
    color: #fff;

    &:hover {
      background-color: #fff;
      color: #000;
    }
  }
  a {
    color: #fff;
    font-size: 0.5rem;
    text-decoration: none;
  }
}
</style>
