<template lang="pug">
  transition(name='modal')
    .modal-mask(@keydown.esc="$emit('close')")
      .modal-wrapper(@click.self="$emit('close')")
        .modal-container
          .modal-header
            slot(name='header') 
              | &nbsp;
            .close(@click="$emit('close')") X
          .modal-body
            slot(name='body')
              | default body
          .modal-footer
            slot(name='footer')
              
              
</template>

<script>
</script>

<style scoped lang="scss">
.modal-mask {
  position: fixed;
  z-index: 9998;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: table;
  transition: opacity 0.3s ease;
}

.modal-wrapper {
  display: table-cell;
  vertical-align: middle;
}

.modal-container {
  max-width: 400px;
  margin: 0px auto;
  padding: 15px 15px;
  background-color: #000;
  color: #fff;
  border: solid 1px white;
  border-radius: 0px;
  -webkit-box-shadow: 0 2px 8px rgba(0, 0, 0, 0.33);
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.33);
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.modal-header {
  display: flex;
  justify-content: space-between;
  .close {
    margin-top: -15px;
    margin-right: -15px;
    width: 25px;
    text-align: center;
    cursor: pointer;
    padding: 5px;

    &:hover {
      background-color: white;
      color: black;
    }
  }
}

.modal-body {
  margin: 20px 0;
  display: flex;
  justify-content: center;
}

.modal-default-button {
  float: right;
}

/*
    * The following styles are auto-applied to elements with
    * transition="modal" when their visibility is toggled
    * by Vue.js.
    *
    * You can easily play with the modal transition by editing
    * these styles.
    */

.modal-enter {
  opacity: 0;
}

.modal-leave-active {
  opacity: 0;
}

.modal-enter .modal-container,
.modal-leave-active .modal-container {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}
</style>
