<template lang="pug">
    svg(height = "1000px", width = "1000px", :style="{ left: (-1*scrollLeft) + 'px'}")
        clipPath#cut-off
            rect(x='-10' y='0' width='55' height='50')
        def
          g#arrow
              polygon(points="0,0 0,20 10,0", fill="black")
              polygon(points="0,0 0,20 -10,0", fill="black")
        def
          g#arrows
              animateTransform(attributeName="transform", 
                            type="translate", 
                            from="0 0", 
                            to="0 50", 
                            begin="0s", 
                            dur="1.5s", 
                            repeatCount="indefinite",
                            calcMode="spline",
                            keySplines=".3 0 .7 1",
                            values="0 0;0 50")
              animateTransform(attributeName="transform", 
                              additive="sum", 
                              type="scale", 
                              values="0.1,0.1; 0.8,0.8; 0,0"
                              begin="0s", 
                              dur="1.5s",
                              repeatCount="indefinite",
                              calcMode="spline",
                              keySplines=".3 0 .7 1; .3 0 .7 1")
              use(xlink:href="#arrow", y="0")
        g#pin(:style="{ transform: 'translate(' + translate.x + 'px,' + translate.y + 'px)'}")
            rect(x='9', y='-1', width='132', height='52', fill="black")
            g(:style="{ transform: 'translate(10px,0px)'}")
              rect( v-for="p in zoom", :key="p.n", :x='p.zx*10', :y='p.zy*10', width='10', height='10', :fill='p.isOn ? "white" : "black"')
            rect(x='61', y='0', width='79', height='50', fill="white")
            text(v-if="selectedPixel.mine", x='70', y='15', font-size='10')
              | YOUR PIXEL
            text(v-if="!selectedPixel.mine", x='70', y='15', font-size='10')
              | PIXEL
            text(x='70', y='28', font-size='10')
              | {{selectedPixel.n}}
            text(x='70', y='41', font-size='10')
              | X:{{selectedPixel.x}}-Y:{{selectedPixel.y}}
            g()
                //- use(xlink:href="#arrows", :style="{ transform: translate.arrows}")
                use(xlink:href="#arrows", :transform='translate.arrows')
               
            
</template>

<script>
export default {
  props: ["pixel", "user", "scrollLeft", 'selectedPixel', 'zoom'],
  computed: {
    translate() {
      if (!this.pixel) {
        return { x: 0, y: 0, arrows: "" };
      }
      let tx = this.selectedPixel.x;
      let ty = this.selectedPixel.y;
      let arrows = this.leftDown();

      if (this.selectedPixel.y > 500) {
        if (this.selectedPixel.x > 500) {
          tx = this.selectedPixel.x - 150;
          ty = this.selectedPixel.y - 51;
          arrows = this.rightDown();
        } else {
          tx = this.selectedPixel.x;
          ty = this.selectedPixel.y - 51;
          arrows = this.leftDown();
        }
      } else {
        if (this.selectedPixel.x > 500) {
          tx = this.selectedPixel.x - 150
          ty = this.selectedPixel.y + 1
          arrows = this.rightUp();
        } else {
          tx = this.selectedPixel.x
          ty = this.selectedPixel.y + 1
          arrows = this.leftUp();

        }
      }
      return { x: tx, y: ty, arrows: arrows };
    },
  },

  methods: {
    leftDown() {
      return "";
    },

    rightDown() {
      return "translate(150, 0)";
    },
    leftUp() {
      return "translate(0, 50) scale(1,-1)";
    },
    rightUp() {
      return "translate(150, 50) scale(1,-1)";
    },
  },
  data() {
    return {};
  },
};
</script>

<style scoped lang="scss"></style>
