<template lang="pug">
    .button-bar
        ShareNetwork.static-plain-btn.border(v-for='network in networks' :network='network.network' :key='network.network' 
                :url='sharing.url' :title='title' 
                :description='sharing.description' 
                :quote='quote' 
                :hashtags='sharing.hashtags' 
                )
            span {{ network.name }}

</template>

<script>
import Vue from "vue";
import { ShareNetwork } from "vue-social-sharing";

export default {
  props: ["pixel", "user"],
  components: {
    ShareNetwork,
  },
  data() {
    return {
      sharing: {
        url: "www.thesinglepixelowner.com",
        title: "The Single Pixel Owner",
        description: "Become the owner of one pixel",
        quote:
          "I'm proud of be the owner one pixel in thesinglepixelowner.com. You can get your pixel too!",
        hashtags: "pixelowner,website,pixel,owner",
      },
      networks: [
        {
          network: "facebook",
          name: "FACEBOOK",
          color: "#1877f2",
        },
        {
          network: "twitter",
          name: "TWITTER",
          color: "#1da1f2",
        },
        {
          network: "whatsapp",
          name: "WHATSAPP",
          color: "#25d366",
        },
      ],
    };
  },

  computed: {
    quote() {
      return this.message();
    },

    title() {
      return this.message();
    },
  },

  methods: {
    message() {
      return (
        "Happy of being the owner of the pixel " +
        this.pixel.n +
        " in thesinglepixelowner.com. You can get your pixel too!"
      );
    },
  },

  mounted() {
    this.$root.$on("share_network_open", function(network, url) {
      this.$ua.trackEvent("share", network, "Share " + network);
    });
  },
};
</script>

<style scoped lang="scss">
.button-bar {
  padding-top: 25px;
  display: flex;
  flex-direction: row;
}
</style>
