<template lang="pug">
    .modal-mask
        .modal-wrapper
            transition(name="bounce")
                .slide(v-if="showSlide1")
                  .slide-content.slide1
                    .cong CONGRATULATIONS
                    .cong CONGRATULATIONS
                    .cong CONGRATULATIONS
                    .cong CONGRATULATIONS
            transition(name="bounce")
                .slide(v-if="showSlide2")
                  .slide-content.slide2
                    .you YOU ARE THE
                    .owner OWNER
                    .of OF THE PIXEL 
                    .pixel {{pixel.n}}
            transition(name="bounce")
                .slide(v-if="showSlide3")
                  .slide-content.slide3
                    .location THE LOCATION OF
                    .your YOUR
                    .pixel PIXEL IS
            transition(name="bounce")
                .slide(v-if="showSlide4")
                  .slide-content.slide4
                    .coord
                      .label X:
                      .x {{pixel.x}}
                    .coord
                      .label Y:
                      .y {{pixel.y}}
            transition(name="bounce")
                .slide(v-if="showSlide5")
                  .slide-content.slide5
                    .you YOU CAN TURN
                    .turn ON/OFF 
                    .pixel THE PIXEL
                    .whenever WHENEVER YOU WISH
            transition(name="bounce")
                .slide(v-if="showSlide6")
                  .slide-content.slide6
                    .every EVERY TIME YOU
                    .toggle TOGGLE
                    .pixel YOUR PIXEL
                    .image THE IMAGE CHANGES IN
                    .real REAL TIME
            transition(name="bounce")
                .slide(v-if="showSlide7")
                  .slide-content.slide7
                    .use USE YOUR
                    .pixel PIXEL
                    .wisely WISELY
            transition(name="bounce")
                .slide(v-if="showSlide8")
                  .slide-content.slide8
                    .thank THANK YOU FOR BEING PART OF
                    .logo
                      img(src='/logo.png', :class="{ inverted: false }")
</template>

<script>
export default {
  props: ["pixel"],

  data() {
    return {
      showSlide1: false,
      showSlide2: false,
      showSlide3: false,
      showSlide4: false,
      showSlide5: false,
      showSlide6: false,
      showSlide7: false,
      showSlide8: false,
      currentSlide: 1,
    };
  },

  methods: {
    start() {
      this.showSlide1 = true;
      this.$confetti.start({
        particles: [
          {
            type: "rect",
          },
        ],
        defaultColors: ["white", "black"],
      });
      setTimeout(this.nextSlide, 4000);
    },

    async nextSlide() {
      this["showSlide" + this.currentSlide] = false;
      if (this.currentSlide == 8) {
        await this.sleep(150);
        setTimeout(this.stopConfetti, 500);
        this.$emit("wellcome-end");
      } else {
        this["showSlide" + this.currentSlide] = false;
        await this.sleep(300);
        this.currentSlide += 1;
        this["showSlide" + this.currentSlide] = true;
        setTimeout(this.nextSlide, 5000);
      }
    },

    stopConfetti() {
      this.$confetti.stop();
    },

    sleep(ms) {
      return new Promise((resolve) => setTimeout(resolve, ms));
    },
  },

  mounted() {
    setTimeout(this.start, 1000);
  },
};
</script>

<style scoped lang="scss">
.modal-mask {
  position: fixed;
  z-index: 500;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 1);
  display: table;
  transition: opacity 0.3s ease;
}

.modal-wrapper {
  display: table-cell;
  vertical-align: middle;
}

.slide {
  position: fixed;
  top: -3vh;
  left: 0px;
  width: 100vw;
  height: 100vh;
  color: #fff;
  text-align: center;
  line-height: normal;
  padding: 15px;
  font-size: 6vw;

  .slide-content {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: column;
    &.slide1 {
      animation: blinker 0.5s step-start 100;
      transform: scale(1, 2);
      // line-height: 0vw;
      font-size: 6.2vw;
    }

    &.slide2 {
      .you {
        font-size: 8.45vw;
      }
      .owner {
        font-size: 19vw;
      }

      .of {
        font-size: 7.72vw;
      }
      .pixel {
        font-size: 15.65vw;
      }
    }

    &.slide3 {
      .location {
        font-size: 6.2vw;
      }
      .your {
        font-size: 24vw;
      }
      .pixel {
        font-size: 11.7vw;
      }
    }

    &.slide4 {
      .coord {
        display: flex;
        align-items: flex-end;
        .label {
          font-size: 7vw;
          padding-bottom: 5px;
        }
        .x,
        .y {
          font-size: 12vw;
        }
      }
    }

    &.slide5 {
      .you {
        font-size: 7.75vw;
      }
      .turn {
        font-size: 15.7vw;
      }
      .pixel {
        font-size: 10.4vw;
      }
      .whenever {
        font-size: 5.45vw;
      }
    }

    &.slide6 {
      .every {
        font-size: 6.65vw;
      }
      
      .toggle {
        font-size: 15.7vw;
      }
      .pixel {

        font-size: 9.31vw;
      }
      .image {
        font-size: 4.62vw;
      }
      .real {
        font-size: 10.4vw;
      }
    }

    &.slide7 {
      .use {
        font-size: 11.68vw;
      }

      .pixel {
        font-size: 19vw;

      }

      .wisely {
        font-size: 15.68vw;
      }
    }
  
    &.slide8 {
      font-size: 3.43vw;

      .logo {
        display: flex;
        justify-content: center;
        padding-top: 30px;
        img {
          display: flex;
          // padding-top: 8vh;
          width: 53.8vw;
          filter: invert(100%);
        }
      }
      .enjoy {
        padding-top: 10vh;
      }
    }
  }
}

@keyframes blinker {
  15% {
    opacity: 0;
  }
  35% {
    opacity: 1;
  }
  45% {
    opacity: 0;
  }
  65% {
    opacity: 1;
  }
  75% {
    opacity: 0;
  }
  99% {
    opacity: 1;
  }
}

.bounce-enter-active {
  animation: bounce-in 0.7s;
}
.bounce-leave-to {
  animation: bounce-out 0.7s;
}

@keyframes bounce-in {
  0% {
    transform: scale(0);
  }
  70% {
    transform: scale(1.3);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes bounce-out {
  0% {
    transform: scale(1);
  }
  15% {
    transform: scale(0.8);
  }
  100% {
    transform: scale(4);
    opacity: 0;
  }
}

.blinking-bounce-enter-active {
  animation: blinking-bounce-in 0.7s, blinker 0.7s 30;
}
.blinking-bounce-leave-to {
  animation: blinking-bounce-out 0.7s, blinker 0.7s 30;
}

@keyframes blinking-bounce-in {
  0% {
    transform: scale(0, 0);
  }
  70% {
    transform: scale(1.5, 6);
  }
  100% {
    transform: scale(1, 4);
  }
}

@keyframes blinking-bounce-out {
  0% {
    transform: scale(1, 4);
  }
  15% {
    transform: scale(0.8, 3.5);
  }
  100% {
    transform: scale(20, 80);
    opacity: 0;
  }
}

@media (max-width: 1000px) {

.slide {
  top: -5vh;
}

}
</style>
