<template lang="pug">
  div.tour
    v-tour(name="pixelTour", :steps="steps")
</template>

<script>
import Vue from "vue";

export default {
  name: "pixelTour",
  props: ["pixel", "user", "pixelZoom"],
  // components: { VTour, VStep },
  data() {
    return {
      steps: [
        {
          target: "#pin",
          header: {
            title: "GET STARTED",
          },
          content: `HERE IS YOUR PIXEL. THE ARROW INDICATES ITS LOCATION IN THE IMAGE`,
        },
        {
          target: "#pin",
          header: {
            title: "THE CARD",
          },
          content: `THE CARD DISPLAY A ZOOM OF 5X5 PIXELS. YOUR PIXEL IS IN THE CENTER`,
        },
        {
          target: "#switch-button",
          header: {
            title: "SWITCH THE PIXEL",
          },
          content: `PUSH THE BUTTON FOR SWITCHING ON/OFF YOUR PIXEL`,
        },
        {
          target: "#image",
          header: {
            title: "1000X1000 IMAGE",
          },
          content: `EVERY TIME SOMEBODY SWITCH THE PIXEL, THE IMAGE CHANGES IN REAL TIME AND GENERATES A RIPPLE`,
        },
        {
          target: "#image",
          header: {
            title: "TOUCH THE IMAGE",
          },
          content: `BY TOUCHING ANYEWHERE YOU GET THE PIXEL INFO`,
        },
        {
          target: "#image",
          header: {
            title: "PAN THE IMAGE",
          },
          content: `YOU CAN PAN THE IMAGE`,
        },
        {
          target: "#left-panel",
          header: {
            title: "HIDE THE PIXEL INFO",
          },
          content: `HIDE THE PIXEL INFO BY TOUCHING OUTSIDE THE IMAGE.`,
        },
        {
          target: "#menu-plus-btn",
          header: {
            title: "OPEN MENU",
          },
          content: `↙ TOUCH SQUARE BUTTON ON THE LEFT BOTTOM SCREEN TO OPEN MENU ↙`,
          params: {
            modifiers: {
              preventOverflow: {
                boundariesElement: "viewport",
                padding:60,
              },
            },
            placement: "end-right"
          },
        },
        {
          target: "#menu-plus-btn",
          header: {
            title: "MENU",
          },
          content: `TOUCH LOCALIZE TO FIND YOUR PIXEL IN IMAGE`,
          params: {
            modifiers: {
              preventOverflow: {
                boundariesElement: "viewport",
                padding:60,
              },
            },
            placement: "end-right"
          },
        },
        {
          target: "#menu-plus-btn",
          header: {
            title: "MENU",
          },
          content: `TOUCH ON CERTIFICATE FOR DOWNLOAD YOUR CERTIFICATE`,
          params: {
            modifiers: {
              preventOverflow: {
                boundariesElement: "viewport",
                padding:60,
              },
            },
            placement: "end-right"
          },
        },
        {
          target: "#menu-plus-btn",
          header: {
            title: "MENU",
          },
          content: `TOUCH ON SHARE TO SHARE WITH YOUR FRIENDS`,
          params: {
            modifiers: {
              preventOverflow: {
                boundariesElement: "viewport",
                padding:60,
              },
            },
            placement: "end-right"
          },
        },
        {
          target: "#menu-plus-btn",
          header: {
            title: "WELLCOME",
          },
          content: `TOUCH ON WELLCOME TO PLAY WELLCOME ANIMATION AGAIN`,
          params: {
            modifiers: {
              preventOverflow: {
                boundariesElement: "viewport",
                padding:60,
              },
            },
            placement: "end-right"
          },
        },
         {
          target: "#image",
          header: {
            title: "THANK YOU",
          },
          content: `SHARE YOUR EXPERIENCE IN FACEBOOK OR INSTAGRAM. @THESINGLEPIXELOWNER. THANK YOU!`,
        },
        
      ],
    };
  },
};
</script>

<style scoped lang="scss">
.tour {
  line-height: 1.1rem;
  font-size: 0.8rem;
  // font-family: 'Courier New', Courier, monospace;
}
</style>
