:root {
  --mColor: #000000;
  --sColor: #ffffff;
}

* {
  box-sizing: border-box;
}

html {
  font-size: 100%; /* 100% = 16px */
}

body {
  margin: 0;
  background-color: var(--mColor);

  font-family: vcr_osd_monoregular;
  line-height: normal;
}

.hidden {
  display: none;
}

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}

#app {
  overflow: hidden;
}

.plain-btn {
  font-size: 12pt;
  color: var(--sColor);
  cursor: pointer;
  padding: 8px 8px;

  display: flex;
  height: 30px;

  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently
                                      supported by Chrome, Edge, Opera and Firefox */

  &:hover {
    background-color: var(--sColor);
    color: var(--mColor);
  }

  &.border {
    border: solid 1px var(--sColor);
  }
}

.static-plain-btn {
  display: flex;
  // margin-left: 1rem;
  padding: 0.5rem 0.5rem;
  font-size: 1rem;
  height: 2rem;
  background-color: black;
  color: white;
  cursor: pointer;
  
  &.border {
    border: solid 1px white;
  }

  &:hover {
    background-color: white;
    color: black;
  }
}

.VueCarousel-dot {
  background-color: black !important;
  border-radius: 0% !important;
  border: 1px solid white !important;
  padding: 0px !important;
  margin: 5px;

  &.VueCarousel-dot--active {
    background-color: white !important;
    border-color: white !important;
  }
  
  &:focus {
    background-color: white !important;
    border-color: white !important;
    outline: 1px solid white !important;
  }
}

.VueCarousel-dot-container {
  margin: 0px !important;
}

// .VueCarousel-slide-active {
//   visibility: visible !important;
// }

@media (max-width: 1000px) {
  .plain-btn {
    // transition: background 0.3s ease-in-out;

    &:active {
      transform: scale(1);
      background: var(--sColor)
        radial-gradient(circle, transparent 1%, var(--mColor) 1%)
        center/15000%;
    }
    // &:active {
    //   background-color: var(--sColor);
    //   background-size: 100%;
    //   transition: background 0s;
    // }
  }
}

#confetti-canvas {
  z-index: 1000;
}
