.main {
  display: flex;

  .left {
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    margin: 0.5vw;

    .logo {
      display: flex;
      justify-content: center;
      padding: 5px;
      img {
        display: flex;
        max-width: 200px;
        width: auto;
        height: auto;
      }
      .inverted {
        filter: invert(100%);
      }
    }
    .button-box {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      height: 60vh;

      .pixel-btn {
        background-color: var(--sColor);
        color: var(--mColor);
        cursor: pointer;
        width: 100px;
        height: 100px;
        display: flex;
        padding: 15px;
        font-size: 30px;
        align-items: center;
        justify-content: center;
        line-height: 42px;
        transition: all 0.05s ease-in-out;
        &:hover {
          transform: scale(1.1);
        }

        &.animate {
          &:hover {
            animation: paused;
          }
          animation: heartbeat5s 5s infinite;
        }

        -webkit-touch-callout: none; /* iOS Safari */
        -webkit-user-select: none; /* Safari */
        -khtml-user-select: none; /* Konqueror HTML */
        -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
        user-select: none; /* Non-prefixed version, currently
                                        supported by Chrome, Edge, Opera and Firefox */
      }

      .get-pixel-btn {
        animation-delay: 2s;
        animation: heartbeat 10s infinite;

        &:active {
          animation: null;
          transform: scale(1);
          background-color: var(--sColor);
          color: var(--mColor);
          border: 5px solid var(--mColor);
        }

        &:hover {
          background-color: var(--mColor);
          color: var(--sColor);
          border: 5px solid var(--sColor);
          transform: scale(1.1);
          animation: null;
          font-size: 25px;
          line-height: 35px;
        }
      }

      @keyframes heartbeat {
        0% {
          transform: scale(1);
        }
        2% {
          transform: scale(1.1);
        }
        4% {
          transform: scale(1);
        }
        6% {
          transform: scale(1.1);
        }
        8% {
          transform: scale(1);
        }
        10% {
          transform: scale(1.1);
        }
        12% {
          transform: scale(1);
        }
        100% {
          transform: scale(1);
        }
      }

      @keyframes heartbeat5s {
        0% {
          transform: scale(1);
        }
        4% {
          transform: scale(1.1);
        }
        8% {
          transform: scale(1);
        }
        12% {
          transform: scale(1.1);
        }
        16% {
          transform: scale(1);
        }
        20% {
          transform: scale(1.1);
        }
        24% {
          transform: scale(1);
        }
        100% {
          transform: scale(1);
        }
      }

      .info {
        padding-top: 50px;
      }
    }

    .info {
      color: var(--sColor);
    }

    background-color: var(--mColor);
  }

  .center {
    background-color: var(--mColor);
    svg {
      position: absolute;
      pointer-events: none;
      svg {
        pointer-events: none;
        position: absolute;
        background-color: transparent;
        width: 1000px;
        height: 1000px;
        z-index: 50;

      .circle{
        border-radius: 100%;
        border: 1px solid black;
        width: 10px;
        height: 10px;
        overflow: hidden;
        position: absolute;
      }
    }

    .pin-wrap {
      position: absolute;
      pointer-events: none;
      svg {
        pointer-events: none;
        position: absolute;
        z-index: 60;
        rect {
          pointer-events: none;
          overflow: hidden;
          position: absolute;
        }
      }
    }
  }

  .right {
    flex-grow: 2;
    background-color: var(--mColor);
    margin: 0.5vw;
    display: flex;
    justify-content: space-between;
    .header {
      width: 100%;
      display: flex;
      justify-content: flex-end;
      .user {
        padding-right: 0.5vw;
        color: var(--sColor);
        text-transform: uppercase;
      }
    }
  }

  .menu {
    position: fixed;
    bottom: 0px;
    left: 0;
    display: flex;
    flex-direction: row;
    z-index: 100;
    background-color: var(--mColor);
    .plus {
      width: 30px;
      height: 30px;
      justify-content: center;
      display: flex;
      align-items: center;
      background-color: var(--sColor);
      .box {
        background-color:var(--mColor);
        width: 15px;
        height: 15px;
        
      }
      &:hover {
        filter: invert(100%);
      }
    }
    .list {
      display: flex;
      flex-direction: row;
      .plain-btn {
        height: 30px;
        font-size: 1rem;
        border-left: solid 1px var(--sColor);
      }
    }
  }

  .fade-enter-active,
  .fade-leave-active {
    transition: opacity 0.1s;
  }

  .fade-enter, .fade-leave-to /* .fade-leave-active below version 2.1.8 */ {
    opacity: 0;
  }

  .modal-mask {
    .title,
    .message {
      text-align: center;
      line-height: 1.5;
    }
  }

  .bounce-enter-active {
    animation: bounce-in 0.3s;
  }
  .bounce-leave-to {
    animation: bounce-in 0.5s reverse;
  }

  @keyframes bounce-in {
    0% {
      transform: scale(0);
    }
    70% {
      transform: scale(1);
    }
    100% {
      transform: scale(1);
    }
  }
}

@media (max-width: 1000px) {
  .main {
    display: inline;
    position: relative;

    .left {
      border-width: 3px;
      background-color: var(--mColor);
      position: fixed;
      top: 0;
      left: 0;
      width: 100vw;
      z-index: 100;
      margin: 0px;
      display: flex;
      justify-content: space-between;
      flex-direction: row;
      height: 50px;

      .logo {
        padding: 5px;
        img {
          height: 40px;
        }
      }

      .button-box {
        height: 100%;
        z-index: 999;

        .pixel-btn {
          width: 50px;
          height: 50px;
          font-size: 13px;
          line-height: 20px;

          background-position: center;
          transition: background 0.3s ease-in-out;

          &:hover {
            transform: scale(1);
            background: var(--sColor)
              radial-gradient(circle, transparent 1%, var(--mColor) 1%)
              center/15000%;
          }
          &:active {
            background-color: var(--sColor);
            background-size: 100%;
            transition: background 0s;
          }
        }

        .get-pixel-btn {
          &:hover {
            font-size: 13px;
            line-height: 20px;
          }
        }
      }
    }
    .center {
      margin-top: 50px;
      margin-bottom: 30px;
      overflow: auto;

      .svg-wrap,
      .pin-wrap {
        overflow: scroll;
        position: absolute;
        width: 100vw;
        svg {
          // overflow: hidden;
          position: relative;
         
        }
      }
    }

    .menu {
      flex-direction: column-reverse;

      .list {
        flex-direction: column;
        .plain-btn {
          border-left: none;
          border-bottom: solid 1px var(--sColor);
        }
      }
    }
  }
}
